#bannerType {
  width: 100%;
  height: 515px;
  background: #ddd;
}

.banner__inner {
  text-align: left;
  color: #000;
  padding-left: 200px;
  position: relative;
}
.banner__title {
  font-size: 110px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner__desc {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 70px;
}
.banner__desc a {
  display: block;
  font-size: 16px;
  line-height: 3;
  font-weight: 300;
  color: #000;
  text-decoration: none;
  margin-top: 50px;
  width: 200px;
  text-align: center;
  background-color: #103b31;
  color: #fff;
}
