#imageType {
  width: 100%;
  height: 1178px;
  padding: 120px 0;
}
#imageType > h2 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

#imageType > p {
  font-size: 22px;
  font-weight: 300;
  margin: 70px;
  text-align: center;
}

.imageType__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 1160px;
  margin: 20px auto;
}

.imageType__sketch {
  height: 337px;
  width: 24%;
}

.sketch__header {
  text-align: left;
  margin-bottom: 10px;
}

.sketch__header img {
  width: 100%;
  height: 203px;
  border-radius: 20px;
}
.sketch__body {
  text-align: left;
  position: relative;
}
.sketch__body .title {
  margin-bottom: 10px;
}
.sketch__body .desc {
  color: #555;
  font-size: 14px;
}

.sketch__body .btn {
  position: absolute;
  top: 0;
  right: 0;
}

.sketch__body .btn img {
  width: 25px;
  height: 25px;
}
